$primary-dark-color: rgb(43, 26, 26);
$primary-light-color: rgb(222, 191, 191);

$secondary-dark-color: rgb(87, 16, 87);
$secondary-light-color: rgb(199, 199, 151);

body {
    color: $primary-dark-color;
}